body
{
    margin:0;
}
.contain
{
    background-color: red;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas: "top top top top top top top top top top top top" "left mid mid mid mid mid mid mid mid mid mid right" "bot bot bot bot bot bot bot bot bot bot bot bot" ;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}